* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #F2F2F2;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    color: #FFF;
}

.ticker-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    gap: 20px;
    background-color: #47597E;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ticker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    gap: 20px;
    background-color: #47597E;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ticker {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #323E58;
}

.ticker-price {
    font-size: 35px;
    font-weight: bold;
}

.ticker-image {
    height: 128px;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}